<<<<<<< HEAD
/* Pricing
-----------------------------------------------------------------*/
.price-hr .item {
  padding: 50px 30px;
}

.price-hr .item .butn {
  padding: 7px 25px;
}
=======
/* Pricing
-----------------------------------------------------------------*/
.price-hr .item {
  padding: 50px 30px;
}

.price-hr .item .butn {
  padding: 7px 25px;
}
>>>>>>> 2a8764e07c23f76597450f9070008c504f861aa7
